@page "/"
@page "/singleline"
@page "/multiline"
@inject NavigationManager NavigationManager

<h2>Prefill text</h2>
<select class="form-control col-2" @onchange="@((e) => SetPrefilledText(e))">
    <option value="None" selected="@(PrefilledTextMode == "None")">None</option>
    <option value="SingleLine" selected="@(PrefilledTextMode == "SingleLine")">Single line</option>
    <option value="MultiLine" selected="@(PrefilledTextMode == "MultiLine")">Multi line</option>
</select>

<br />

<h2>Content editable</h2>
<BlazorContentEditableComponent BoundValue="@Text" TextUpdated="@(CallbackArgs => Text = CallbackArgs)" CSSClass="form-control" />

<br />
<br />

<h2>Blazor receiving content editable text</h2>
<textarea disabled="disabled" style="height:150px; width:100%" @bind="Text"></textarea>

@code {

    private string Text { get; set; }
    private string PrefilledTextMode { get; set; }

    protected override void OnInitialized()
    {

        if (NavigationManager.Uri.Contains("singleline"))
        {
            PrefilledTextMode = "SingleLine";
            Text = "Lorem ipsum dolor sit amet.";
        }
        else if (NavigationManager.Uri.Contains("multiline"))
        {
            PrefilledTextMode = "MultiLine";
            Text = $"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{Environment.NewLine}" +
                    $"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{Environment.NewLine}" +
                    $"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.{Environment.NewLine}" +
                    $"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
        }
        else
        {
            PrefilledTextMode = "None";
            Text = "";
        }

    }

    private void SetPrefilledText(ChangeEventArgs a)
    {
        if (a.Value.ToString() == "None")
        {
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else if (a.Value.ToString() == "SingleLine")
        {
            NavigationManager.NavigateTo("/singleline", forceLoad: true);
        }
        else if (a.Value.ToString() == "MultiLine")
        {
            NavigationManager.NavigateTo("/multiline", forceLoad: true);
        }
    }

}